html{
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-size: small;
}

nav {
    font-family: Orbitron, sans-serif;
}

button{
    cursor: pointer;
}

input{
    font-family: "Montserrat", sans-serif;
}